<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
    <link href="../assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <a class="navbar-brand mb-2" href="/moderator/moderator">FTP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Files
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/moderator/moderator/addFile">Add file</a>
            <a class="dropdown-item" href="/moderator/moderator/ftp">All Files</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/moderator/moderator/viewProfile">My Profile</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>

		<li class="nav-item">
          <a class="nav-link" href="">File Requests</a>
        </li>

    </ul>
    <div class="nav-form">
        </div>
        <a class="btn btn-danger my-sm-2 ml-lg-2" href="/logout">Log out</a>
  </div>
</nav>
<div class="container">


        <h3 class="display-5 text-center my-4">File Upload</h3>
            <div class="container">
                  <form  method="post" action="/moderator/moderator/uploadFile" enctype="multipart/form-data">


                  <div class="form-row">
                    		 <div class="col-md-4 mb-3">
                           <label>Type</label>
                           <select name="type" class="custom-select" required>
                             <option value="movie">Movie</option>
                             <option value="tvseries">TV Series</option>
                           </select>
                           <div class="invalid-feedback">
                             Please select a valid type
                           </div>
                         </div>

                         <div class="col-md-4 mb-3">
                       <label for="validationCustom04">Language</label>
                       <select name="language" class="custom-select" id="validationCustom04" required >
                         <option selected disabled value="">Choose</option>
                         <option value="english">English</option>
                         <option value="bangla">Bangla</option>
                       </select>
					   <small id="phonedHelpInline" class="text-muted">
		                 Chose language
		               </small>
                       <div class="invalid-feedback">
                         Please select a valid type
                       </div>
                     </div>
                  </div>

								  <div class="form-group">
								    <label>Attach File</label>
								    <input name='file' type="file" class="form-control-file"
								  </div>
  <div class="text-center">
      <button type="submit" class="btn btn-success" value="submit">Upload</button>

  </div>

</form>
</div>

</body>
</html>
